node_modules
.git
.gitignore
.next
Dockerfile
.dockerignore
npm-debug.log
yarn-error.log
.env
.env.local
.env.development
.env.test
.env.production
README.md
.vscode
.idea
*.md
coverage
.nyc_output
.cache
dist
build
.DS_Store
*.log