# Auto detect text files and perform LF normalization
* text=auto

# Explicitly set line endings for text files to LF
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Ensure certain files always have LF endings
.gitattributes text eol=lf
.gitignore text eol=lf
